In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('data.xlsx')

In [5]:
df

            Actor              Film   Year        Genre  BoxOffice
0  Shah rukh khan            Pathan   2023       Action       1050
1     Salman khan  Tiger zinda hain   2017       Action        565
2       Amir khan            Dangal   2016    Biography       2024
3    Rajkumar rau             Stree   2018  Horror core        180
4   Hritik roshan               War   2019       Action        475
5   Ranbir kapoor        Brahamstro   2022      Fantasy        431
6     Aksai kumar          Good new   2019       Comedy        318
7    Vicky kausal             Chava   2024       Biopic        525

In [8]:
df['Actor']  # Single column selection

0    Shah rukh khan
1       Salman khan
2         Amir khan
3      Rajkumar rau
4     Hritik roshan
5     Ranbir kapoor
6       Aksai kumar
7      Vicky kausal
Name: Actor, dtype: object

In [9]:
df['Actor'][3]

'Rajkumar rau'

In [11]:
df[['Actor', 'Film']] # Multiple column selection

            Actor              Film
0  Shah rukh khan            Pathan
1     Salman khan  Tiger zinda hain
2       Amir khan            Dangal
3    Rajkumar rau             Stree
4   Hritik roshan               War
5   Ranbir kapoor        Brahamstro
6     Aksai kumar          Good new
7    Vicky kausal             Chava

In [12]:
df.loc[1]  # First row (by label)

Actor             Salman khan
Film         Tiger zinda hain
 Year                    2017
Genre                  Action
BoxOffice                 565
Name: 1, dtype: object

In [13]:
df.iloc[1] # First row (by position)

Actor             Salman khan
Film         Tiger zinda hain
 Year                    2017
Genre                  Action
BoxOffice                 565
Name: 1, dtype: object

In [14]:
df.loc[ 6,'Film']  # Value at row 0, column 'Name'

'Good new'

In [16]:
df.iloc[6,1]  # Value at row 0, column at index 1

'Good new'

In [17]:
df.loc[0:2 ,["Actor", "Film", "BoxOffice"]]

            Actor              Film  BoxOffice
0  Shah rukh khan            Pathan       1050
1     Salman khan  Tiger zinda hain        565
2       Amir khan            Dangal       2024

In [18]:
df.at[0,"Actor"]

'Shah rukh khan'

In [19]:
df.iat[0,0]

'Shah rukh khan'

In [25]:
df[df['BoxOffice']> 500]

            Actor              Film   Year      Genre  BoxOffice
0  Shah rukh khan            Pathan   2023     Action       1050
1     Salman khan  Tiger zinda hain   2017     Action        565
2       Amir khan            Dangal   2016  Biography       2024
7    Vicky kausal             Chava   2024     Biopic        525

In [30]:
df[(df["BoxOffice"] > 500) & (df["Year"] > 2020)]

KeyError: 'Year'

In [28]:
df.query("BoxOffice > 500")

            Actor              Film   Year      Genre  BoxOffice
0  Shah rukh khan            Pathan   2023     Action       1050
1     Salman khan  Tiger zinda hain   2017     Action        565
2       Amir khan            Dangal   2016  Biography       2024
7    Vicky kausal             Chava   2024     Biopic        525

In [31]:
df2 = df[['Actor' , 'Film']]

In [32]:
df2

            Actor              Film
0  Shah rukh khan            Pathan
1     Salman khan  Tiger zinda hain
2       Amir khan            Dangal
3    Rajkumar rau             Stree
4   Hritik roshan               War
5   Ranbir kapoor        Brahamstro
6     Aksai kumar          Good new
7    Vicky kausal             Chava

In [33]:
df2.loc[0,'Actor'] = "Suman"

C:\Users\Suman Pradhan\AppData\Local\Temp\ipykernel_8880\2375571686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[0,'Actor'] = "Suman"

In [34]:
df2

           Actor              Film
0          Suman            Pathan
1    Salman khan  Tiger zinda hain
2      Amir khan            Dangal
3   Rajkumar rau             Stree
4  Hritik roshan               War
5  Ranbir kapoor        Brahamstro
6    Aksai kumar          Good new
7   Vicky kausal             Chava

In [35]:
df

            Actor              Film   Year        Genre  BoxOffice
0  Shah rukh khan            Pathan   2023       Action       1050
1     Salman khan  Tiger zinda hain   2017       Action        565
2       Amir khan            Dangal   2016    Biography       2024
3    Rajkumar rau             Stree   2018  Horror core        180
4   Hritik roshan               War   2019       Action        475
5   Ranbir kapoor        Brahamstro   2022      Fantasy        431
6     Aksai kumar          Good new   2019       Comedy        318
7    Vicky kausal             Chava   2024       Biopic        525

In [ ]:
# Use df[col], .loc[], .iloc[], .at[], .iat[] to access data
# Filter with logical conditions or .query() for readable code
# Mastering selection makes the rest of pandas feel easy