In [1]:
import pandas as pd

In [2]:
df= pd.read_excel("data.xlsx")

In [3]:
df

            Actor              Film   Year        Genre  BoxOffice  IMDB
0  Shah rukh khan            Pathan   2023       Action       1050   4.5
1     Salman khan  Tiger zinda hain   2017       Action        565   4.9
2       Amir khan            Dangal   2016    Biography       2024   6.2
3    Rajkumar rau             Stree   2018  Horror core        180   8.2
4   Hritik roshan               War   2019       Action        475   4.1
5   Ranbir kapoor        Brahamstro   2022      Fantasy        431   9.4
6     Aksai kumar          Good new   2019       Comedy        318   3.5
7    Vicky kausal             Chava   2024       Biopic        525   6.6

In [4]:
df = df[df["IMDB"]>6.0]

In [5]:
df

           Actor        Film   Year        Genre  BoxOffice  IMDB
2      Amir khan      Dangal   2016    Biography       2024   6.2
3   Rajkumar rau       Stree   2018  Horror core        180   8.2
5  Ranbir kapoor  Brahamstro   2022      Fantasy        431   9.4
7   Vicky kausal       Chava   2024       Biopic        525   6.6

In [7]:
df.to_csv("data_updated.csv" , index=False)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 2 to 7
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Actor      4 non-null      object
 1   Film       4 non-null      object
 2    Year      4 non-null      int64
 3   Genre      4 non-null      object
 4   BoxOffice  4 non-null      int64
 5   IMDB       4 non-null      float64
dtypes: float64(1), int64(2), object(3)
memory usage: 224.0+ bytes